.playcontrol{
    height: 55px;
    width: 100%;
    display: flex;
    color: white;
    justify-content: center;
    margin-top:8px;
}
.playcontrol>img{
    height: 55px;
    width: 55px;
    margin-left: 22px;
    border-radius: 8px;
}
.pCdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: -10px;
    margin-left: 20px;
    width: 260px;
    
}
.playcontrol>div>h3{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: -2px;
}
.playcontrol>div>h4{
    font-weight: 100;
    font-size: 14px;
    margin-top: -2px;
    color: rgb(133, 133, 133);
}
.contProB{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 700px;

}
.controlll{

    display: flex;
    font-size: 30px;
    height: 50px;
    gap: 20px;
   }
 
.iconn{
    display: block;
}
.proB{
  
    height: 20px;
    width: inherit;
  
    color: blue;
}
.volumeC{
    margin-left: 10vw;
   
}
