
.controlP{
    height: 100%;
    width: 360px;
    color: rgb(126, 126, 126);
    display: flex;
    flex-direction: column;
    align-items: center;
 
   
}
.nav{
    width:96.5% ;
    margin-left: 12px;
    height: 120px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    background-color: rgb(18,18,18);
    text-decoration: none;
   
}
.nav a{
    color: #898989;
}

.active{
  -webkit-text-fill-color: white;
  
}
.yourlibrary{
    width:96.5% ;
    margin-left: 12px;
    height: 400px;
    margin-top: 12px;
    display: flex;  
    flex-direction: column;
    align-items: center;
    background-color: rgb(18,18,18);
    color: white;
    border-radius: 8px;
  
}
.yourlibrary a{
   color: white;
   height: 60px;
   width: 100%;
}
.addbutton{
    height: 40px;
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 6px 6px 0 0;  
      justify-content: space-between;
   
}
.Liblist{
    height: 340px;
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    
    border-radius: 6px 6px 6px 6px;  
    justify-content: center;
    background-color: rgb(18,18,18);
    overflow-x: hidden;
    overflow-y: scroll;
}
.likedsongcontain{
  height: 60px;
  width: 100%;
  
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.Liblist> .active{
  background-color: rgba(255, 255, 255, 0.073);
  border-radius: 8px;
}
.likedsongcontain:hover{
  background-color: rgba(255, 255, 255, 0.073);

}
.likedsongcontain>img{
  height: 45px;
  margin-left: 10px;
  border-radius: 5px;
}
.likedsongcontain h3{
  margin-left: 20px;
}
.likedsongcontain p{
  margin-left: 20px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
}
