/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    opacity: 1;
   
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    opacity: 1;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    opacity: 1;
  }

.App{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}
.displayflex{
  display: flex;
  width: 100vw;
}

.renderdiv{
  
    margin: 12px;
    height: 87vh;
    width: 1196px;
    border-radius: 8px;
    background-color:rgb(18, 18, 18);
    overflow-y: scroll; 
    overflow-x: hidden;
   
}


   .topbar{
    height: 70px;
    width:1162px ;
    border-radius:8px 8px 0 0;
    background-color: transparent; 
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .topbarr1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin-left: 10px;
   }
   
   .topbarr1 div {
    box-sizing: border-box;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 30px;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    font-size: 32px;
    padding: 2px;
    padding-left: 3.5px;
    
   }
   .topbarr1 div:nth-child(1) {
     padding: 2px;
     padding-right: 3.3px;
   }
   .topbarr1 div:active{
    background-color: #000000bb;
   }
   /******************************* login button **********************/
   .topbarr2{
    border-radius: 10px;
    width: 90px;
    height: 40px;
    overflow: hidden;
    margin-right: 20px;
   }
   .Btn {
    border-radius: 10px;
    width: 90px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    font-weight: 500;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    font-size: 16px;
    
  }
  
  
  .Btn::before {
    transition-duration: .3s;
    width: 90px;
    height: 80px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
   
    mix-blend-mode: difference;
  }
  
  .Btn:hover::before {
    transition-duration: .3s;
    transform: translate(100%,-50%);
    border-radius: 0;
  }
  
  .Btn:active {
    transform: translate(1px,2px);
    transition-duration: .3s;
  }
   .gapp{
    padding-top: 100px;
    padding-left: 19px;
    height:70%;
    width:100%;
   z-index: 0;
   background-image: linear-gradient(rgb(71, 71, 71),rgb(18,18,18));

 
  }
  .gapbottom{
    padding-left: 19px;
  }
  .home{
    width: 100%;
   padding-bottom: 20px;
   z-index: 10;
   color: white;   
  }
   .cardsheading{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-left: 2px;
   }
  .cardsouterdiv{
     width: 100%;
     margin-top: 20px;
    position: relative;
    display: flex;
    margin-left: 2px;
  }
   .cards{
    color: white;
    box-sizing: border-box;
         height: 294px;
         width: 203.7px;
         border-radius: 7px;
         background-color: rgb(26, 26, 26);
         display:flex ;
         flex-direction: column;
         align-items: center;
       padding-top: 16px;
       margin-right: 25px;
       transition: all .3s;
        }
   .cards>img{
    height: 172px;
    width: 172px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.547) 0px 3px 8px;
   
   }
   .cardtitile{
   
    width: 85%;
    display:flex ;
    flex-direction: column;
    
   }
   .cardtitile>h2{
    font-size: 20px;

    margin-top: 15px;
   
   }
   .cardtitile>p{
    color: #a5a5a5;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 500;
   word-wrap: break-word;
   width: 100%;
   height: 37px;
 
   }
   .cards:hover{
    background-color: #343434;
   
   }
   .popPLaybutton{
    position: absolute;
    background-color: rebeccapurple;
    height: 50px;
    width: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 50%;
    margin-top: 135px;
    margin-left: 90px;
    transform: scale(0);
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    
   }
   .cards:hover >.popPLaybutton{
    transform: scale(1);
   }
   .popPLaybutton>i{
    margin-left: 3px;
    font-size: 24px;
   }
   .dailymixslot{
    width: 100%;
    margin-top: 20px;
    position: relative;
    display: flex;
    margin-left: 2px;
   }
   .margintop{
    margin-top: 40px;
   }

 